<div class="container mt-5 mb-5">
    <h3>Editar {{ nombreUsuario }}</h3>
    <form action="">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">@</span>
        </div>
        <input
          #name
          type="text"
          class="form-control"
          placeholder="Nombre Usuario"
          aria-label="Nombre Usuario"
          [value]="nombreUsuario" 
          aria-describedby="basic-addon1"
        />
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">@</span>
        </div>
        <input
          #email
          type="email"
          class="form-control"
          placeholder="Email"
          aria-label="Email"
          [value]="correoUsuario"
          aria-describedby="basic-addon1"
        />
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">@</span>
        </div>
        <input
          #nivel
          type="text"
          class="form-control"
          placeholder="Nivel"
          aria-label="Nivel"
          [value]="nivelUsuario"
          aria-describedby="basic-addon1"
        />
      </div>
      <button
        type="button"
        class="btn btn-primary btn-lg btn-block"
        (click)="edit(name.value, email.value, nivel.value)"
      >
        Agregar
      </button>
    </form>
  </div>