<div class="container mt-5 mb-5">
    <h3>Editar {{ usern }}</h3>
    <form action="">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">@</span>
        </div>
        <input
          #username
          type="text"
          class="form-control"
          placeholder="Usuario"
          aria-label="Usuario"
          aria-describedby="basic-addon1"
        />
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">@</span>
        </div>
        <input
          #password
          type="password"
          class="form-control"
          placeholder="Contraseña"
          aria-label="Contraseña"
          aria-describedby="basic-addon1"
        />
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">@</span>
        </div>
        <input
          #nivel
          type="text"
          class="form-control"
          placeholder="Nivel"
          aria-label="Nivel"
          aria-describedby="basic-addon1"
        />
      </div>
      <button
        type="button"
        class="btn btn-primary btn-lg btn-block"
        (click)="edit(username.value, password.value, nivel.value)"
      >
        Agregar
      </button>
    </form>
  </div>